<div class="h12">
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Выпечка на любой вкус!</h1>
    <p>Resize this responsive page to see the effect!</p>
    <div>Без pipe : {{(myDate)}}</div>
    <div>Используя pipe : {{(myDate | date : 'medium')}}</div>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="container">

      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" (click)="show('1')" data-toggle="tab" href="#" style="border-radius: 5px;">Домашняя страница</a>
        </li>

      </ul>

    </div>

    <div class="btn-group">
      <button type="button" (click)="show('2')" class="btn btn-warning " >Торты</button>
      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle " data-toggle="dropdown">
          Пироги
        </button>
        <div class="dropdown-menu ">
          <a class="dropdown-item" (click)="show('3')" href="#">Пироги сытные</a>
          <a class="dropdown-item" (click)="show('4')" href="#">Пироги сладкие</a>
        </div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle "  data-toggle="dropdown">
          Десертная выпечка
        </button>
        <div class="dropdown-menu ">
          <a class="dropdown-item" (click)="show('5')" href="#">Булочки</a>
          <a class="dropdown-item" (click)="show('6')" href="#">Круассаны и рогалики</a>
        </div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle " data-toggle="dropdown">
          Сытная выпечка
        </button>
        <div class="dropdown-menu ">
          <a class="dropdown-item" (click)="show('7')" href="#">Самса</a>
          <a class="dropdown-item" (click)="show('8')" href="#">Пирожки</a>
        </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 1000px;"  href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>



  <div [ngSwitch]="now" >
    <div id="domId" *ngSwitchCase="1" class="container myMenu" style="margin-top:30px; " >
      <div class="row">

        <div class="col-sm-8">
          <h2>Добро пожаловать в нашу кулинарию!</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>Наши рецепты основаны на изготовлении выпечки из натуральных ингредиентов...</p>
          <br>
          <h2>TITLE HEADING</h2>
          <h5>Title description, Sep 2, 2017</h5>

        </div>
        <div class="col-sm-4">
          <h2>About Me</h2>
          <h5>Photo of me:</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          <h3>Some Links</h3>
          <p>Lorem ipsum dolor sit ame.</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>

      </div>
    </div>

    <div id="tortyId"  *ngSwitchCase="2" >

      <li *ngFor="let item of torts" style="display: inline-block; margin-left: 10px;">
        <div class="card" style="width:200px; ">
          <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{item}}</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a (click)="Add(item)" class="btn btn-primary">Добавить в корзину</a>
          </div>
        </div>
      </li>

    </div>

    <div id="pirogySitId" *ngSwitchCase="3" >
      пироги сытные
    </div>

    <div id="pirogySladId" *ngSwitchCase="4">
      Пироги сладкие
    </div>

    <div  id="bulId" *ngSwitchCase="5" appMyNewDirective>
      Булочки
    </div>

    <div id="kruassId" *ngSwitchCase="6" >
      круассаны и рог
    </div>

    <div id="samsaId" *ngSwitchCase="7" >
      самса
    </div>

    <div id="pirozhId" *ngSwitchCase="8">
      пирожки
    </div>

    <div style="position: absolute; top: 390px; left: 80%; height: 400px; width: 300px; background-color: #aaaaaa">
      <li *ngFor="let item of korz">{{item}}<button class="btn-danger btn-circle" style="margin-left: 10px" (click)="Del(item)"></button></li>

      <button class="btn btn-success" style="margin-top:357px; margin-left: 5px ">
        Оформить заказ
      </button>

      <button class="btn btn-danger" style="margin-top:0px; margin-left: 145px ">
        Очистить корзину
      </button>

    </div>



    <div class="jumbotron text-center" style="margin-bottom:0; position: absolute; top: 900px; width: 100%">
      <p>Footer</p>
    </div>
  </div>


</div>
